@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
a{
  text-decoration: none;
}
ul{
  list-style:none;
}
header{
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.logo{
  display:flex;
  align-items:center;
}
header .logo img{
  width:100px;
  height:80px;
}
.c{
  background-color: rgb(239, 68, 68);
  color:white!important;
  padding:5px 15px!important;
 
}
.e{
  background-color: rgb(31, 142, 233);
  color:white!important;
  padding:5px 15px!important;
 
}


.nav_list{
   display:flex;
   align-items: center;
}
.nav_link{

  padding:10px;
  font-size:17px;
  font-weight: 500;
  border-radius:5px;
  color:black;
}
.header_toggle,
.header_close{
  display:none;
}


@media screen and (max-width:992px){
  header{
    margin-top:10px;
    height:48px;
    justify-content: space-between;
    padding:0 28px;

  }
  .header_toggle{
    display:inline;
    color:black;
    font-size:30px;
    cursor:pointer;
  }
  .header_close{
    position: absolute;
    right:15px;
    display:block;
    font-size:27px;
    border-radius:50%;
    color:red;
    font-weight: 600;
    cursor:pointer;
  }
  .nav{
    position:fixed;
    top:0;
    right:-100%;
    background-color:rgb(186, 186, 186);
    color:white;
    width:50%;
    height:100vh;
    padding:24px 0;
    z-index:100;
    transition: 0.5s;
    border-radius: 0 0 0 50%;
  }

  .nav_list{
    display:flex;
    flex-direction: column;
    padding-top:30px;
    padding-bottom:20px!important;
  }
 
  
  .show{
    right:0;
  }
 

 
}
.nav_item{
   
  padding:15px 0;

}